<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flyfiref.dsscm.dao.ProductCategoryMapper">
	<select id="findById" resultType="ProductCategory">
		select * 
		  from tb_product_category 
		 where id=#{id}
	</select>

<!--	zhr: 查找子标签-->
	<select id="findChildren" resultType="int">
		SELECT *
		FROM tb_product_category
		WHERE parentId=#{id}
	</select>
	
	<resultMap type="ProductCategory" id="pclist">
	   <id column="id" property="id"/>
	   <collection property="productCategories" ofType="ProductCategory">
	      <id column="pc2id" property="id"/>
	      <result column="pc2name" property="name"/>
	      <result column="pc2pid" property="parentId"/>
	      <collection property="productCategories" ofType="ProductCategory">
		      <id column="pc3id" property="id"/>
		      <result column="pc3name" property="name"/>
		      <result column="pc3pid" property="parentId"/>
		   </collection>
	   </collection>
	</resultMap>

<!--	zhr: 修改了联表的逻辑，原先的逻辑找不到没有子标签，会导致新添加的一二级标签因为没有子标签而显示不出来-->
	<!-- 00001 -->
	<select id="findProductCategories" resultMap="pclist">
		SELECT pc1.*,
			   pc2.id AS pc2id, pc2.name AS pc2name, pc2.parentId AS pc2pid,
			   pc3.id AS pc3id, pc3.name AS pc3name, pc3.parentId AS pc3pid
		FROM tb_product_category pc1
		LEFT JOIN tb_product_category pc2
		ON pc1.id = pc2.parentId
		LEFT JOIN tb_product_category pc3
		ON pc2.id = pc3.parentId
		WHERE pc1.type = 1 and (pc2.type = 2 OR pc2.type IS NULL) AND (pc3.type = 3 OR pc3.type IS NULL);
	</select>
	
	<select id="getRootCategories" resultType="ProductCategory">
		select * 
		  from tb_product_category 
		 where parentId=#{parentId}
	</select>

	<insert id="save" parameterType="ProductCategory">
		INSERT INTO tb_product_category (id, NAME, parentId, TYPE, iconClass )
		VALUES (#{id}, #{name}, #{parentId}, #{type}, #{iconClass} )

	</insert>

	<update id="update" parameterType="ProductCategory">
		update tb_product_category
		<trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
			<if test="name != null">name=#{name},</if>
			<if test="parentId != null">parentId=#{parentId},</if>
			<if test="type != null">type=#{type},</if>
			<if test="iconClass != null">iconClass=#{iconClass},</if>
		</trim>
	</update>

	<delete id="delete" parameterType="Integer">
		delete from
		tb_product_category where id=#{id}
	</delete>

<!--	zhr: 批量删除-->
	<delete id="deleteList" parameterType="java.util.List">
		DELETE FROM tb_product_category
		WHERE
		<if test="ids != null and ids.size() > 0">
			id IN
			<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		<if test="ids == null or ids.size() == 0">
			1 = 0
		</if>
	</delete>

	<select id="codeIsExist" resultType="int">
		select count(*) as count
		from tb_product_category where id=#{id}
	</select>

</mapper>